
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    font-family: 'poppiens',sans-serif;

}
section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*-----navbar-----*/


#navbar{
    position: sticky;
    top: 0;
    background:white;
    z-index: 10;
}
.bold{
    
   font-weight: bold;
    color: brown;
    font-size: 30px;
    
}
.bold {
    font-family: Papyrus, fantasy;
}
.bold.papyrus {
    /* sets the text to Papyrus */
    font-family: Papyrus;
}

.bold.harrington {
    /* sets the text to Harrington */
    font-family: Harrington;
}
li{
    padding: 5px;
}
.nav-link{
    font-size: 15px;
    font-weight: bold;
    color: brown;
    border: 2px solid transparent;
}
.nav-link:hover{
    border-bottom:2px solid brown ;
    transition: .1s;

}
/*----home-----*/

span{
    color: brown;
    font-weight: bold;
}
p{
    font-size: 18px;
}
.img-fluid{
    width: 500px;
    height: 300px;
    left: 100%;
}
#about img{
    width: 28rem;
    height: 25rem;
    border-radius: 50px;

}
/*---services-----*/
.card img{
    height: 250px;
}
.inner{
    overflow: hidden;
}
.card img:hover{
    transform: scale(1.5);
    transition: 1s;
}
/*-----contact------*/

form{
    padding: 40px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .2),
                  -1px -1px 5px rgba(0, 0, 0, .0.5);
    border-radius: 30px;
    
}
footer{
    background-color: brown;
    color: white;
    border-radius: 10px;
}
.icons{
letter-spacing: 10px;
background-color: brown;
}
.icons:hover{
    cursor: pointer;
    color: white;
}